version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: customerdb
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:

